page-login {
  .content-md{
      background-color: #3F51B5 !important;
}
.background{
    box-shadow: 0px 3px 1px -2px;
  }

.card-md .item-inner { border-bottom: 1px solid #dedede !important; }

.item-md {
    padding-left: 16px;
    padding-right: 16px;}

.card-md{
    height:300px;
}
}
