page-medicine {

  .bg1-style {
    background: darkgray;
    font-style: italic;
    font-size: medium;
  }

  .bg2-style {
    background:cornflowerblue ;
  }

  .bg3-style {
    background: greenyellow;
  }

  .bg4-style {
    background:mediumspringgreen ;
  }

  .bg5-style {
    scroll-snap-margin-block: 5px;
    background: darkgray;
  }

}
